{
    margin: 0;
    padding: 0;

}

body
{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    "font-size" 2em;
    color: #ffee02    


}

{
    
text-align: center;

}